.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: yellow;
}

.react-flow__edge-path {
  stroke: green !important;
  stroke-width: 4px !important;
}

.reactflow-wrapper {
  width: 100%;
  height: 95vh;
  position: relative;
  overflow: visible;
}

.react-flow__pane {
  cursor: grab;
  transition: transform 0.3s ease;
}

.react-flow__viewport {
  transition: transform 0.3s ease !important;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: auto;
  height: 100%;
}

.timeline-container {
  width: 100%;
  height: 100%;
  overflow: auto;
}

.react-flow__container {
  height: 100%;
  overflow: visible !important;
}

.react-flow__node {
  width: 250px;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
  border: 2px solid red;
  background-color: orange;
}
